body {
    display: block;
    margin-left: 263px;
    background: rgb(245 248 251);
    color: rgb(48, 46, 46);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
}

.container .nav_bar {
    display: flex;
    width: 95%;
}

.container .nav_bar .profile {
    display: flex;
    float: left;
    align-items: center;
    width: 25%;
    gap: 15px;
}

.img_user {
    width: 89px;
    height: 65px;
    border: solid black 1px;
    border-radius: 52%;
}

.container .nav_bar .calender {
    width: 70%;
    height: 9vh;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 17px;
}

.container .leave_cards {
	padding-left: 30px;
    width: 95%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    position: relative;
}

.leave_cards .card {
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37vh;
    padding: 0px 15px;
    margin: 1px 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-width: 30%;
    border-radius: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.leave_cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



/*
For more details-
https://www.testkarts.com/blog/horizontal-card-scroll-with-arrow */
.cover {
    position: relative;
    padding: 0px 30px;
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-images {
    position: relative;
    width: 100%;
    padding-left: 219px;
    padding: 40px ;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}




.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}

.container .all_leave {
    width: 100%;
    height: 46vh;
    overflow: hidden;
    justify-content: center;
    display: flex;
}


.all_leave .all_leave_card {
    border-radius: 4px;
    overflow: hidden;
    background-color: #FFFFFF;
    width: 95%;
    -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    height: 41vh;
    border-radius: 15px;

}